@use '../config' as *;
@use '../base/shared' as b;

.header {
  @include b.section();

  .container {
    @include b.container(row);
    padding: 48px 20px 20px 20px;

    @include b.respond-to('desktop') {
      padding-inline: 30px;
    }

    @include b.respond-to('desktop-xl') {
      padding-inline: 140px;
    }
  }

  &__nav {
    margin-left: auto;
    display: none;

    @include b.respond-to('tablet') {
      display: block;
    }

    .list {
      @include b.container(row);

      @include b.respond-to('tablet') {
        gap: 20px;
      }

      @include b.respond-to('desktop') {
        gap: 60px;
      }
    }

    .link {
      color: $first-color;
      font-family: $second-family;
      font-size: 17px;
    }
  }

  &__auth-block {
    @include b.container(row);
    gap: 10px;
    color: $first-color;
    margin-right: 22px;
    margin-left: auto;

    @include b.respond-to('tablet') {
      margin-left: 20px;
      gap: 15px;
    }

    @include b.respond-to('desktop') {
      margin-left: 80px;
      margin-right: 42px;
    }

    .login {
      font-family: $second-family;
      font-size: 17px;
      font-weight: 500;
    }

    .sign {
      font-family: $second-family;
      font-size: 17px;
      font-weight: 500;
      border-radius: 5px;
      border: 1px solid $first-color;
      padding: 9px 10px;

      @include b.respond-to('tablet') {
        padding: 9px 22px;
      }
    }
  }

  &__decor-1 {
    @include b.absolute(0, 0);
    fill: #fff1da;
    z-index: -10;

    @include b.respond-to('tablet') {
      width: 536px;
      height: 610px;
    }

    @include b.respond-to('desktop') {
      width: 766px;
      height: 872px;
    }
  }

  &__lang-block {
    position: relative;

    .lang-btn {
      @include b.container(row);
      gap: 10px;
      color: $first-color;
      font-family: $third-family;
      font-size: 17px;
      font-weight: 500;
      stroke: $first-color;
      stroke-width: 1px;
      fill: transparent;
    }

    .lang-menu {
      color: $first-color;
      position: absolute;
      top: 24px;
      left: 0;

      a {
        color: $first-color;
        font-family: $third-family;
        font-size: 17px;
        font-weight: 500;
      }

      .active {
        display: none;
      }
    }
  }
}
