@use '../config' as *;
@use '../base/shared' as b;

.hero {
  @include b.section();

  .container {
    @include b.container(column);
    padding: 0 20px 0 20px;
    height: 764px;

    @include b.respond-to('desktop') {
      flex-direction: row;
      padding-left: 30px;
      padding-right: 30px;
    }

    @include b.respond-to('desktop-xl') {
      padding-left: 140px;
      padding-right: 140px;
    }
  }

  &__title-block {
    @include b.container(column);
    gap: 30px;
    max-width: 390px;
    align-items: flex-start;

    @include b.respond-to('tablet') {
      max-width: 690px;
    }

    @include b.respond-to('desktop') {
      max-width: 545px;
    }

    .top-title {
      color: #df6951;
      font-family: $font-family;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .main-title {
      color: $first-color;
      font-family: $font4;
      font-size: 40px;
      font-weight: 700;
      line-height: 50px;
      letter-spacing: -3.36px;

      @include b.respond-to('desktop') {
        font-size: 84px;
        line-height: 89px;
      }
    }

    .description {
      max-width: 477px;
      color: $text-color;
      font-family: $font-family;
      font-size: 16px;
      font-weight: 400;
      line-height: 30px;
    }

    .buttons-block {
      @include b.container(row);
      gap: 44px;

      .find {
        padding: 10px 8px;
        color: $white;
        font-family: $third-family;
        font-size: 18px;
        font-weight: 500;
        border-radius: 10px;
        background: $yellow;
        box-shadow: 0 20px 35px 0 rgba(241, 165, 1, 0.15);

        @include b.respond-to('tablet') {
          padding: 19px 26px;
        }
      }

      .play {
        color: $text-color;
        font-family: $font-family;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        .round-btn {
          width: 42px;
          height: 42px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
          border-radius: 100%;
          background: #df6951;
          box-shadow: 0 15px 30px 0 rgba(223, 105, 81, 0.3);

          @include b.respond-to('tablet') {
            width: 52px;
            height: 52px;
          }
        }
      }
    }
  }

  &__image-wraper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__main-img {
    position: absolute;
    top: 0;
    right: -45px;
    z-index: -1;

    @include b.respond-to('tablet') {
      right: 90px;
      width: 765px;
      height: 764px;
    }

    @include b.respond-to('desktop') {
      right: -40px;
    }

    @include b.respond-to('desktop-xl') {
      right: 40px;
    }
  }

  &__plane-1 {
    position: absolute;
    top: 60px;
    left: -25px;
    z-index: -2;
  }

  &__plane-2 {
    position: absolute;
    top: 160px;
    right: 20px;
    z-index: -2;
  }
}
