@use 'sass:map';

@mixin container($fd: row, $pb: null, $pl: null) {
  display: flex;
  flex-direction: $fd;
  justify-content: space-between;
  align-items: center;
  padding: $pb $pl;
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

$breakpoints: (
  'tablet': 768px,
  'desktop': 1024px,
);

@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $value: map.get($breakpoints, $breakpoint);

    @media (min-width: $value) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint}' not found.";
  }
}
